@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Chalk Stick";
  src: url(./assets/Chalk\ Stick.otf) format(opentype);
}

html {
  scrollbar-width: none;
}

@theme {
  --font-heading: "Chalk Stick", sans-serif;
  --color-white: #fffeff;
  --color-orange-white: #e6cbb6;
  --color-light-orange: #f4a141;
  --color-dark-orange: #f55c4c;
  --color-black: #131013;
}

:root {
  font-family: "Instrument Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
